.article {
  max-width: 984px;
  display: grid;
  grid-template-columns: 460px 484px;
  grid-template-rows: 152px 460px;
  grid-gap: 48px 40px;
  margin-left: auto;
  margin-right: 11.5%;
  padding-bottom: 92px;
}
