.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;

}

.place__paragraph:first-child {
  padding-bottom: 26px;
}


@media screen and (min-width: 768px) and (max-width : 1000px) {
  .place__paragraph {
    font-size: 16px;
  }

  .place__paragraph:first-child {
    padding-bottom: 24px;
  }
}

@media screen and (min-width : 320px) and (max-width : 767px) {
  .place__paragraph {
    font-size: 16px;
    width: calc(100vw - 32px);
  }

  .place__paragraph:first-child {
    padding-bottom: 24px;
  }
}
