.intro__description {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #FFFFFF;
  max-width: 690px;
  white-space: pre-line;
  margin-top: 33px;

}
