.footer__cover {
  align-content: center;
  max-width: 1184px;
  height: 740px;
  margin: auto;
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  text-decoration: none;
}


.footer__cover::after {
  opacity: 1;
}





.footer__cover:hover::after {
  opacity: .2;

}
