.article__content{
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  margin: 0;

}



.article__content:first-child {
  padding-bottom: 26px;
}
